/*
 * THIS FILE IS FOR THE PUBLIC WEBSITE!
 * URL: https://cs196illinois.github.io/FA25-Group25/
 * Edit files in the docs/ folder to update the public site.
 * Changes pushed here will go live in 1-2 minutes.
 */

    body {
      display: flex;
      flex-direction: column;    
      justify-content: center;   
      align-items:center;       
      height: 100;             
      background-color: rgb(255, 255, 255);
      overflow-x: hidden;
      font-family: Poppins;
    }

  img {
      width: 366px;
      border-radius: 10px;
      box-shadow: 0 8px 8px rgba(255, 255, 255, 0.0);
  }
    




  
    h1.title {
      color: rgb(5, 6, 7);
      font-size: 36px;
      margin: 20px 0;
      text-align: center;
    }

   
    Tools {
      text-align: center;
      font-size: 20px;
      margin-bottom: 50px;
    }

   
.button-container {
      display: text-align=center;            
      justify-content: center;   
      margin: 0 30px; 
      margin-right: 50px;
    }

 
    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: rgb(1, 1, 2);
      color: rgb(242, 239, 239);
      transition: background-color 0.3s;
      margin:0 116px;
    }



.button-text-row {
    display: flex;             
    
    align-items: flex-start; 
   
              
    justify-content: center;  
    gap: 56px; 
    width: 100%;               
    padding: 30px 0; 
}

.button-text-row span {
    
    flex-shrink: 0; 
    
    
    text-align: center;      
    font-size: 20px;
    line-height: 1;        
}

   

Wel {
  color: rgb(29, 131, 30);
      font-size: 30px;
      margin: 20px 0;
      text-align: center;
      margin-top: 2px;

}
Pla {
  color: rgb(29, 131, 30);
      font-size: 30px;
      margin: 20px 0;
      text-align: center;
}




    /* 鼠标悬停按钮效果 */
    button:hover {
      background-color: rgb(50, 50, 107);
    }